body{
    margin: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 0%;
    border-top: 0px;
    padding-top: 0%;
}

/* .btn {
    color: var(--white);
    font-size: 1.1rem;
    padding: 0.7rem 1.5rem;
    border-radius: 0.3rem;
    background-color: var(--blue);
    border: none;
    position: absolute;
    right: 0.5rem;
    bottom: 0.5rem;
  } */


  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin: 0;
  }

  .todo {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 0%;
    border-top: 0px;
    padding-top: 0%;
  }

h1{
    color: maroon;
    text-align: center;
    font-size: 5em;
}

.add-bar{
    position: relative;
    display: flex;
    margin-top: 2%;
    border-top: 100px;
}
.input-field {
    width: 100%;
    border: 0.06rem solid #d2d2d2bf;
    border-radius: 0.5rem;
    padding: 1rem;
    font-size: 2.5rem;
}

.todo-container {
    display: flex;
    /* gap: 1rem; */
    border-top: none;
    margin: 5px;
    padding: auto;
    /* justify-content: space-between; */
    align-items: center;
}

.todo-main{
  border: 1px solid gray;
  display: flex;
  border-top: none;
  margin: 5px;
  align-items: center;
  justify-content: space-between;
}


ul {
    padding: 0;
    margin: 0;
    overflow-y: scroll;
}

li {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    font-size: 2rem;
  }

#todoList p {
    display: flex;
    align-items: center;
    /* border: 1px solid black; */
}

.disabled {
    display: flex;
    text-decoration: line-through;
}

input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
  }
  
  input[type="checkbox"]::before {
    content: "\2713";
    display: inline-block;
    width: 2rem;
    height: 2rem;
    font-size: 1.7rem;
    text-align: center;
    border: 0.06rem solid #d2d2d2bf;
    border-radius: 50%;
    color: transparent
  }
  
  input[type="checkbox"]:checked::before {
    color: green;
    background-color: white;
    border: 0.06rem solid green;
    border-radius: 50%;
  }

.todo-main input[type="button"]{
  visibility: hidden;
  justify-content: space-between;
}
.todo-main:hover input[type="button"]{
  visibility: visible;
  text-align: right;
  border: none;
  background-color: transparent;
  font-size: 1.7rem;
  appearance: none; 
  cursor: pointer;
  justify-content: space-between;
}